<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://123.206.219.216:3306/SOA</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">CHECKLISTEDITOR</property>
    <property name="connection.password">940916</property>
      <mapping class="Model.Image"/>
      <mapping resource="Mapping.xml"/>
      <mapping class="Model.Memo"/>
      <mapping class="Model.Schedule"/>
      <mapping class="Model.User"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>