<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.werb.mycalendardemo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".data"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <!-- <activity
            android:name=".SplashActivity"
            android:theme="@style/FullWindows">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".GuideActivity"
            android:theme="@style/FullWindows" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"></activity>
        <!--<activity android:name=".AddScheduleActivity" />-->

        <activity android:name=".ScheduleDetailActivity" />
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MemoActivity"></activity>
        <activity android:name=".InfoActivity"></activity>
        <activity android:name=".RecognizeActivity" />
        <activity android:name=".AnalyzeActivity" />
        <activity android:name=".SelectImageActivity" />


    </application>


</manifest>
